<a href="https://colab.research.google.com/github/supakanGG/DPDM2023/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas

*panda* is a python for manage table data
panda data structure for table is data frame
pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

In [1]:
import pandas #we use import to pandas define a package that we are using.

In [2]:
import pandas as pd #import package and name it as....

ไฟล์ .CSV (csv = comma separated values)
- use comma (,) to separate values
- use new line (enter\n) to separate data points
ใช้เครื่องหมาย comma ในการแบ่ง(คั่น)แต่ละ Columns
ขึ้น record ใหม่จะใช้การ Enter

In [3]:
data_df = pd.read_csv('/content/data.csv')

- 🍀function ชื่อว่า "read_csv" จะเรียกข้อมูลให้ออกมาอยู่ใน format ของตาราง

> Indented block

In [5]:
data_df #เรียกดูตาราง csv.

                                  CSV => comma separated values
Car_ID  Model        Year  Value                        Pers_ID
101     Bentley      1973  100000                             0
102     Rolls Royce  1965  330000                             0
103     Peugeot      1993  500                                3

## Data structure

### list
- list is a container to keep everything
- it give attention to order of the thing in the container

In [7]:
list_a = [1,2,3,0,9,'aaz', data_df]  ## [] (square brackets)

In [8]:
list_a

[1,
 2,
 3,
 0,
 9,
 'aaz',
                                   CSV => comma separated values
 Car_ID  Model        Year  Value                        Pers_ID
 101     Bentley      1973  100000                             0
 102     Rolls Royce  1965  330000                             0
 103     Peugeot      1993  500                                3]

### indexing

In [9]:
list_a [1]

2

In [11]:
list_a [6]

                                  CSV => comma separated values
Car_ID  Model        Year  Value                        Pers_ID
101     Bentley      1973  100000                             0
102     Rolls Royce  1965  330000                             0
103     Peugeot      1993  500                                3

### *negative* index to get value from the end of the list
ไล่จากท้ายขึ้นมา

In [12]:
list_a [-1]  ##Negative index

                                  CSV => comma separated values
Car_ID  Model        Year  Value                        Pers_ID
101     Bentley      1973  100000                             0
102     Rolls Royce  1965  330000                             0
103     Peugeot      1993  500                                3

In [15]:
list_b = ['pizza', list_a, 9]

In [16]:
list_b

['pizza',
 [1,
  2,
  3,
  0,
  9,
  'aaz',
                                    CSV => comma separated values
  Car_ID  Model        Year  Value                        Pers_ID
  101     Bentley      1973  100000                             0
  102     Rolls Royce  1965  330000                             0
  103     Peugeot      1993  500                                3],
 9]

In [19]:
list_b [1] [0]

1

In [20]:
list_b [1]

[1,
 2,
 3,
 0,
 9,
 'aaz',
                                   CSV => comma separated values
 Car_ID  Model        Year  Value                        Pers_ID
 101     Bentley      1973  100000                             0
 102     Rolls Royce  1965  330000                             0
 103     Peugeot      1993  500                                3]

### String is a list of characters

In [21]:
x = 'shabu'
x[-2]  ##ชี้ไปที่ตัวb

'b'

In [22]:
print(list_a)
print(list_b)

[1, 2, 3, 0, 9, 'aaz',                                   CSV => comma separated values
Car_ID  Model        Year  Value                        Pers_ID
101     Bentley      1973  100000                             0
102     Rolls Royce  1965  330000                             0
103     Peugeot      1993  500                                3]
['pizza', [1, 2, 3, 0, 9, 'aaz',                                   CSV => comma separated values
Car_ID  Model        Year  Value                        Pers_ID
101     Bentley      1973  100000                             0
102     Rolls Royce  1965  330000                             0
103     Peugeot      1993  500                                3], 9]

In [23]:
list_a + list_b

[1,
 2,
 3,
 0,
 9,
 'aaz',
                                   CSV => comma separated values
 Car_ID  Model        Year  Value                        Pers_ID
 101     Bentley      1973  100000                             0
 102     Rolls Royce  1965  330000                             0
 103     Peugeot      1993  500                                3,
 'pizza',
 [1,
  2,
  3,
  0,
  9,
  'aaz',
                                    CSV => comma separated values
  Car_ID  Model        Year  Value                        Pers_ID
  101     Bentley      1973  100000                             0
  102     Rolls Royce  1965  330000                             0
  103     Peugeot      1993  500                                3],
 9]

### การสร้าง list - Creating a list
1. create an empty list
2. add member to the list
3. then you can indexing

In [24]:
list_aa = []
list_aa

[]

In [25]:
list_bb = list()
print(list_bb)

[]

2. adding a member to the list (.append())

In [26]:
list_aa.append('chicken')
list_aa.append('water')
list_aa.append('vegetable')

In [27]:
list_aa.append('rice')

In [28]:
list_aa

['chicken', 'water', 'vegetable', 'rice']

In [29]:
list_aa[-1]  ##ชี้จากข้างหลัง

'rice'

In [30]:
list_aa[2]  ##ชี้ทางปกติ จากข้างหน้า

'vegetable'